*__pycache__*

*.DS_Store*

#separate data bases
*db.sqlite3*

*migrations*

*workspace*

*.xml*

book_lovers/.idea/workspace.xml

*.idea/*

#small testing folder
*test_practice*
book_lovers/.idea/book_lovers.iml
