{% extends 'my_books/base.html' %}


{% block content %}
<h1>Title: {{ object.title }}</h1>
<p>Author(s): {% for author in object.author.all %}
             {{ author }}{% if not forloop.last %},{% endif %}
          {% endfor %}</p>
<p>Publisher: {{ object.publisher }}</p>
<p>Date: {{ object.date }}</p>
<p>Tag(s): {% for tag in object.tags.all %}
             {{ tag }}{% if not forloop.last %},{% endif %}
          {% endfor %}</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value='{%if favorite %} Favorite {%else%}  Unfavorite{%endif%}'name="fav"/>
</form>

<br>
<a href="{% url 'books:delete' book.pk %}">Delete this book</a>
<br>
<a href="{% url 'books:list' %}">Book List</a>
{% endblock %}
