{%extends 'my_books/base.html'%}


{% block content %}
<a href="{% url 'books:create' %}">Add a Book</a>
{% if not user.is_authenticated %}
    <a href="{% url 'account:login' %}">Login</a>
{% else %}
    <a href="{% url 'books:logout' %}">Logout</a>
{% endif %}
<br>
{%if request.user.is_authenticated%}
<a href = "{% url 'books:favorites' %}">My Favorites</a>
{%endif%}

<h1>Book List</h1>
{%comment%}
<form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>{%endcomment%}
<form action="" method="GET">
    <input type="text" name = "q" />
    <button type="submit">search</button>
</form>


{%if object_list%}
    <ul>
        {% for book in object_list %}
            <li>
                <a href = "{% url 'books:detail' book.pk %}">{{ book.title }} </a>
                ||||<a href="{% url 'books:update' book.pk %}"> Update </a>
                ||||<a href="{% url 'books:delete' book.pk %}"> Delete</a>
            </li>
        {% endfor %}
    </ul>
  {%else%}
  <p>There are no books in the library. </p>
  {%endif%}


{% endblock %}





{%comment%}{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      <p> Blah blah blah</p>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}{%endcomment%}
