{% extends 'my_books/base.html' %}


{% block content %}
<h1>Title: {{ object.title }}</h1>
<p>Author(s): {% for author in object.author.all %}
             {{ author }}{% if not forloop.last %},{% endif %}
          {% endfor %}</p>
<p>Publisher: {{ object.publisher }}</p>
<p>Date: {{ object.date }}</p>
<p>Tag(s): {% for tag in object.tags.all %}
             {{ tag }}{% if not forloop.last %},{% endif %}
          {% endfor %}</p>
{%comment%}
<form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
<form action="books:favorites_update" method="POST">
    <button type="submit" formethod = "POST">{%if object not in user.fav_books.all%} Favorite {%else%}  Unfavorite{%endif%}</button>
</form>object not in user.fav_books.all
{%endcomment%}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value='{%if favorite %} Favorite {%else%}  Unfavorite{%endif%}'name="fav"/>
</form>

<br>
<a href="{% url 'books:delete' book.pk %}">Delete this book</a>
<br>
<a href="{% url 'books:list' %}">Book List</a>
{% endblock %}
